[Unit]
Description=NvidiaSmi_Exporter
After=nvidia-persistenced
Requires=nvidia-persistenced

[Service]
ExecStart=/usr/local/bin/nvidiasmi_exporter
Restart=always

[Install]
WantedBy=multi-user.target
