[Unit]
Description=NvidiaSmi_Exporter
After=nvidia-persistenced.service
Requires=nvidia-persistenced.service

[Service]
ExecStart=/usr/local/bin/nvidiasmi_exporter
Restart=always

[Install]
WantedBy=multi-user.target
